<div class="row">
    <h1>Hard skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="90"
        [radius]="70" 
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Html</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="70" 
        [radius]="70" 
        [imageSrc]="'../../../assets/css.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Css</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="65" 
        [radius]="70" 
        [imageSrc]="'../../../assets/js.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Javascript</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="80" 
        [radius]="70" 
        [imageSrc]="'../../../assets/typescript.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Typescript</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="75" 
        [radius]="70" 
        [imageSrc]="'../../../assets/bootstrap.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Bootstrap</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="80" 
        [radius]="70" 
        [imageSrc]="'../../../assets/java.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Java</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="60" 
        [radius]="70" 
        [imageSrc]="'../../../assets/spring-boot.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Spring-Boot</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="90" 
        [radius]="70" 
        [imageSrc]="'../../../assets/mysql.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Mysql</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="85" 
        [radius]="70" 
        [imageSrc]="'../../../assets/github.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Github</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="75" 
        [radius]="70" 
        [imageSrc]="'../../../assets/eng.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Inglés</h5>
    </div>

    <h1>Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="100"
        [radius]="70" 
        [imageSrc]="'../../../assets/partners.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Trabajo en equipo</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="90" 
        [radius]="70" 
        [imageSrc]="'../../../assets/creatividad.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Creatividad</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="100" 
        [radius]="70" 
        [imageSrc]="'../../../assets/tarea.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Responsabilidad</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="90" 
        [radius]="70" 
        [imageSrc]="'../../../assets/cerebro.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Aprendizaje constante</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="85" 
        [radius]="70" 
        [imageSrc]="'../../../assets/resolucion-de-problemas.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Resolución de problemas</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2">
        <circle-progress
        [percent]="80" 
        [radius]="70" 
        [imageSrc]="'../../../assets/adaptacion.png'"
        [showImage]="true"
        [imageWidth]="60"
        [imageHeight]="60"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff66c4'" 
        [innerStrokeColor]="'#66ff86'" 
        [animation]="true" 
        [animationDuration]="400">
       </circle-progress>
       <h5>Adaptación al cambio</h5>
    </div>
</div>