<div class="row">
    <section class="proyectos" id="proyectos">
        <div class="proyectos container">
            <h2 class="proyectos__titulo">Proyectos</h2>
            <div class="proyectos container">
                <!--Sitio web-Propiedades-->
                <div class="proyectos__tarjeta">
                    <div class="proyectos__tarjeta-container">
                        <img class="proyectos__tarjeta-img" src="../../../assets/propiedades.png">
                    </div>
                    <div class="proyectos__contenido-tarjeta">
                        <h3>Landing page-Propiedades</h3>
                        <div class="proyectos__descripcion">
                            <p>Sitio web dedicado a la venta de propiedades. Utilizando HTML, CSS y Javascript. Se
                                realizó como práctica de curso Udemy</p>
                        </div>
                        <div class="proyectos__tarjeta__footer">
                            <a href="https://github.com/gonza1988/SitioWeb-Propiedades" target="_blank"><img
                                    class="proyectos__tarjeta__footer-icon" src="../../../assets/gitHub2.png"></a>
    
                            <a href="https://gonza1988.github.io/SitioWeb-Propiedades/" target="_blank"><img
                                    class="proyectos__tarjeta__footer-icon"
                                    src="../../../assets/globe-solid.png"></a>
                        </div>
                    </div>
                </div>
    
                <!--PROYECTO ENCRIPTADOR-->
                <div class="proyectos__tarjeta">
                    <div class="proyectos__tarjeta-container">
                        <img class="proyectos__tarjeta-img" src="../../../assets/encriptador.png">
                    </div>
                    <div class="proyectos__contenido-tarjeta">
                        <h3>Encriptador</h3>
                        <div class="proyectos__descripcion">
                            <p>Sitio web para la encriptación de texto. Utilizando HTML, CSS y Javascript. Se
                                realizó como challenge-01 del programa Orale One - Alura</p>
                        </div>
                        <div class="proyectos__tarjeta__footer">
                            <a href="https://github.com/gonza1988/Challenge-Encriptador-Alura" target="_blank"><img
                                    class="proyectos__tarjeta__footer-icon" src="../../../assets/gitHub2.png"></a>
    
                            <a href="https://gonza1988.github.io/Challenge-Encriptador-Alura/" target="_blank"><img
                                    class="proyectos__tarjeta__footer-icon"
                                    src="../../../assets/globe-solid.png"></a>
                        </div>
                    </div>
                </div>
                <!--PROYECTO AHORCADO-->
                <div class="proyectos__tarjeta">
                    <div class="proyectos__tarjeta-container">
                        <img class="proyectos__tarjeta-img" src="../../../assets/ahorcado.png">
                    </div>
                    <div class="proyectos__contenido-tarjeta">
                        <h3>Juego ahorcado</h3>
                        <div class="proyectos__descripcion">
                            <p>Juego desarollado con HTML(canvas), CSS y Javascript. Se realizó como challenge-02
                                del programa Orale One - Alura</p>
                        </div>
                        <div class="proyectos__tarjeta__footer">
                            <a href="https://github.com/gonza1988/Challenge02-Ahorcado-Alura" target="_blank"><img
                                    class="proyectos__tarjeta__footer-icon" src="../../../assets/gitHub2.png"></a>
    
                            <a href="https://gonza1988.github.io/Challenge02-Ahorcado-Alura/" target="_blank"><img
                                    class="proyectos__tarjeta__footer-icon"
                                    src="../../../assets/globe-solid.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
