<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} alt="imagen-perfil" class="img-fluid" id="fotoPerfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre" class="color">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="color">Acerca de mi</h1>
            <p><strong class="color">Bienvenid@! Mi nombre
                    es Gonzalo Cozzo y soy desarrollador
                    Full-Stack.</strong>{{persona.descripcion}}</p>
        </span>
    </div>


    <div class="col-xs-2 col-sm-12 col-md-12 col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar Persona
        </button>
    </div>

</div>