<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="Logo ArgentinaPrograma">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/gonzalo-cozzo-04158120b/" target="_blank"><img src="../../../assets/linkedin.png" alt=""></a>
                <a href=""><img src="../../../assets/twitter.png" alt=""></a>
                <a href=""><img src="../../../assets/instagram.png" alt=""></a>
                <a href="https://github.com/gonza1988" target="_blank"><img src="../../../assets/github.png" alt=""></a>
                <a href="https://www.facebook.com/gcozzo" target="_blank"><img src="../../../assets/facebook.png" alt=""></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
            </div>
        </div>
    </div>
</div>

